/*welcome------------------*/

.welcome {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 180px 0 0 0;
    height: 729px;
  }
  
  .offer {
    max-width: 460px;
  }
  
  .offer p {
    padding: 42px 0 57px;
  }
  
  .offer h1 {
    padding-top: 163px;
    max-width: 310px;
  }
  
  .offer-puppy{
    max-width: 698px;
  }
  
  /*about----------------------*/
  
  .about {
    display: inline-flex;
    width: 100%;
    justify-content:center;
    padding: 80px 0 100px 0;
  }
  
  .about-txt h2 {
    max-width: 400px;
    padding-top: 14px;
  }
  
  .about-txt p {
    color: #4C4C4C;
    padding-top: 24px;
    max-width: 430px;
  }
  
  .about img{
    padding-right: 120px;
  }
  
  
  /*pets---------------*/
  
  .pets {
    padding: 75px 0 100px 0;
  }
  
  .pets h2 {
    display: block;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  
  .carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
  }
  
  .ant-carousel {
    max-width: 990px;
    position: relative;
    margin: 20px 0px;
    padding: 20px 0 18px 0;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
    width: 1000px;
    height: 485px;
    padding: 10px 0 10px 0px;
  }
  
  .ant-carousel-list {
    max-width: 990px;
    max-height: 485px;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .arrow{
    height: 6px;
    padding: 20px 17px;
    border-radius: 100%;
    border: solid #F1CDB3;
    margin-bottom: 10px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .mobile-arrow{
    display: none;
  }
  .arrow img{
    display: block;
    height: 6px;
  }
  
  .arrow:hover {
    background-color: #FDDCC4;
    border: solid #FDDCC4;
  }
  
  .card {
    border-radius: 9px;
    display: block;
    min-width: 270px;
    margin-bottom: 10px;
    height: auto;
    margin-right: 90px;
    text-align: center; 
    cursor: pointer;
    transition: all 1s;
    background-color: #FAFAFA;
  }
  
  .card-name {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 30px 0 30px 0;
  }
  
  .card img {
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 0;
    width: 100%;
  }
  
  .description {
    border-radius: 0px 0px 9px 9px;
    background-color: #FAFAFA;
    margin-top: -4px;
    padding-bottom: 34px;
    transition: all 1s;
  }
  
  .card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: all 1s;
  }

  .card:hover .description {
    background-color: #fff;   
  }

   .button.know{
    margin: 0 auto;
    display: block;
    width: 172px;
  }
  
  
  /*help---------------------------*/
  .help{
    padding: 80px 0 100px 0;
  }
  
  .help h2{
    max-width: 310px;
    text-align: center;
    margin: 0 auto;
  }
  
  svg{
    height: 60px;
  }
  
  .help-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
    padding-top: 60px;
}
  
  .help-item{
    text-align: center;
  }
  
  .help-discription{
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 26px;
  }
  
  /*donation-------------------------*/
  .donation{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 80px 0 99px 0;
  }
  
  .donation h2{
  max-width: 300px;
  }
  
  .donation-txt{
    max-width: 380px;
  }
  
  .donation-dog{
    padding: 10px 30px 0 0;
  }
  
  .bank{
    padding: 20px 0;
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  .credit-card{
    max-width: 350px;
  }
  
  .credit-card-number{
    display: flex;
    padding: 8px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    transition: all 0.5s;
  }
  
  .credit-card-number:hover{
    background: #FDDCC4;
  }
  
  .credit-card p{
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-left: 15px;
  }
  
  .legal-information{
    font-family: 'Arial';
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 20px;
  }

  /*Adaptive--------------------------------------------*/

  @media (max-width: 1100px) {
    /*offer---------------------*/
    .welcome {
      display: block;
      width: 100%;
      padding: 150px 0 0 0;
      height: auto;
    }
    
    .offer {
      margin: auto;
    }

    .offer p{
      padding: 42px 0;
    }
    
    .offer .button{
      text-align: center;
      margin: auto;
      display: block;
      width: 118px;
    }
    
    .offer h1 {
      padding-top: 0;
    }
    
    .offer-puppy{
      max-width: 569px;
      margin-right: 0;
      margin-left: auto;
      display: block;
      padding-top: 100px;
    }

  /*about----------------------*/
  
    .about {
      display: inline-flex;
      width: 100%;
      justify-content:space-between;
      padding: 80px 0 100px 0;
    }

    .about img{
      padding-right: 60px;
    }

    /*pets-----------------------*/

    .ant-carousel {
      max-width: 640px;
      position: relative;
      margin: 20px 0px;
      padding: 20px 0 18px 0;
    }
    
    .ant-carousel-hider {
      overflow: hidden;
      width: 640px;
      padding: 10px 0 10px 0px;
    }
    
    .ant-carousel-list {
      max-width: 590px;
      max-height: 450px;
      margin: 0;
      padding: 0;
      display: flex;
    }
    .third{
      display: none;
    }

    /*help----------*/
    
    .help-items{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 60px;
      row-gap: 55px;
      padding-top: 57px;
      max-width: 89%;
      margin: auto;
    }

    /*donation----------------*/

    .donation {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 77px 0 99px 0;
    }

    .donation-dog {
      max-width: 505px;
      padding: 60px 0 0 0;
    }
  }


  @media (max-width: 768px) {

  /*about----------------------*/
  
    .about {
      flex-direction: column-reverse;
      align-items: center;
      padding: 66px 0 100px 0;
    }

    .about img {
      padding-right: 0;
      padding-top: 80px;
    }

    /*pets-----------------------*/
      .pets{
        padding-top: 77px;
      }
    .ant-carousel {
      max-width: 590px;
    }
    
    .ant-carousel-hider {
      width: 590px;
    }
    
    .ant-carousel-list {
      padding: 0 10px;
      max-width: 580px;
      justify-content: space-between;
    }

    .card {
      margin-right: 0;
    }

    .third{
      display: none;
    }

    /*help--------------------*/

    .help-item{
      display: block;
      width: 170px;
    }
    /*donation----------------*/

    .donation {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 80px 0 96px 0;
    }

    .donation-dog {
    max-width: 505px;
    padding: 60px 0 0 0;
  }
  }

  @media (max-width: 700px) {
    /*welcome------------*/
    .offer-puppy{
      max-width: 81%;
    }
    /*pets-----------------------*/

    .ant-carousel {
      max-width: 300px;
    }
    
    .ant-carousel-hider {
      width: 300px;
    }
    
    .ant-carousel-list {
      max-width: 300px;
    }

    .card.second{
      display: none;
    }

    /*donation----------*/
    .donation-dog {
      max-width: 81%;
      display: block;
      margin: 0 auto;
    }
  }

  @media (max-width: 480px) {

  /*offer--------*/
  .offer-puppy {
    max-width: 81.3%;
    padding: 104px 10px 0 0;
  }

    .offer h1 {
    max-width: 200px;
    margin: 0 auto;
    letter-spacing: 0.06em;
  }
  .offer p {
    padding: 42px 0;
    max-width: 291px;
    margin: 0 auto;
    text-align: center;
  }

  /*about--------------*/
  .about {
    padding: 28px 0 40px 0;
  }
  .about-txt h2 {
    max-width: 220px;
    padding: 14px 0 1px 0;
    margin: 0 auto;
  }
  .about-txt p {
    padding-top: 23px;
    max-width: 270px;
    text-align: justify;
  }
  .about img {
    padding-top: 40px;
    max-width: 260px;
  }
  /*pets----------------*/
  .pets {
    padding: 41px 0 42px 0;
  }
  .desktop-arrow{
    display: none;
  }
  .carousel {
    display: block;
    padding-bottom: 30px;
  }
  .ant-carousel-list {
    justify-content: center;
  }
  .ant-carousel {
    max-width: 300px;
    margin: 0 auto;
    padding: 23px 0 0 0;
  }
  .mobile-arrow {
    max-width: 184px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  /*help-------------*/
  .help {
    padding: 42px 0 40px 0;
  }
  .help h2 {
    max-width: 270px;
  }
  .help-item svg{
    height: 50px;
  }
  .help-item {
    width: 130px;
  }
  .help-discription {
    font-size: 15px;
    padding-top: 17px;
  }
  .help-items {
    max-width: 91%;
    column-gap: 20px;
    row-gap: 29px;
    padding-top: 40px;
  }

 /*donation--------------*/
 .donation h2 {
  max-width: 210px;
  margin: 0 auto;
  }
  .donation {
    padding: 42px 0 ;
  }
  .bank {
    padding: 24px 0;
    margin: 0 auto;
    max-width: 275px;
    letter-spacing: 0;
}
.credit-card p {
  font-size: 15px;
  line-height: 170%;
}
.credit-card-number {
  max-width: 251px;
  margin: 0 auto;
}
.legal-information {
  max-width: 280px;
  text-align: justify;
}
.donation-dog {
  padding: 42px 0 0 0;
}
}
  
